* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em; }
  @media (min-width: 48em) {
    .wrapper {
      width: 40em; } }
  @media (min-width: 56.25em) {
    .wrapper {
      width: 55em; } }
  @media (min-width: 68.75em) {
    .wrapper {
      width: 65em; } }

.btn--primary {
  display: inline-block;
  margin-top: 2em;
  padding: 0.5em 1em;
  background-color: #4ec1b7;
  border-radius: 4px;
  color: white;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s linear; }
  .btn--primary:visited {
    color: white; }
  .btn--primary:hover {
    text-decoration: none;
    background-color: #39a39a; }
  .btn--primary:active, .btn--primary:focus {
    text-decoration: none;
    outline: none; }

/* Theme - Red */
.themes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em; }

.box {
  border-radius: 3px;
  width: 8rem;
  height: 6rem;
  padding: 1rem;
  border: 1px solid #cccccc;
  font-family: "Comic Sans MS", cursive; }

.box--base {
  background-color: red; }

.box--important {
  background-color: #660000; }

.box--warning {
  background-color: pink; }

.font-secondary {
  font-family: "Consolas", monospace; }

.box--shadow {
  box-shadow: -10px 10px 20px 0px #4d4d4d; }
